*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: white;
}
:root{
 --primary-color:  rgb(0, 120, 224);

  --secondary-color: rgb(69, 159, 238);
  --font-size: 1.05em;
}
.webLogo img{
  height: 75px;
  display: flex;
  align-items: center;
}
.nav-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
   
  height: 80px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--primary-color);
  

}
.nav-links ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-links ul li{
  list-style: none;
  margin: 10px;
  padding: 10px;

}
.nav-links ul li a{
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--font-size);
}
.nav-links ul li:hover{
 background-color: var(--secondary-color);
 border-radius: 6px;
 transition: all 0.7s ease;
   
 
}
.nav-links ul li a:hover{
  color: orange;
}
.active{
  color: orange;
}
.resContainer{
position: absolute;
display: flex;

}
.resContainer #loginRegister{
  position: relative;
 
}
.resContainer img{
  position: relative;

  left: 90px;
  z-index: 1001;
 display: none;
}
.userDropdown{
  display: flex;
margin-right: 100px;


}
#loginRegister{
  position: absolute;
  color: orange;
  padding: 10px 15px;
  text-align: center;
  background-color: blue;
  font-weight: 600;
  border: 1px solid blue;
  border-radius: 6px;

  font-family: 'Times New Roman', Times, serif;
  font-size: var(--font-size);
}
.userDropdown .logo{
  
  position: relative;
  left: 30px;
  top: 3px;
  border-radius: 50%;
  border: none;

  border: 1px solid blue;
  background-color: rgb(155, 155, 235);
  visibility: hidden;
}
.userDropdown .dropdown{
position: absolute;
visibility: hidden;
cursor: pointer;


  
}
.dropdownMenu{
  position: relative;
  top: 60px;
  background-color: var(--secondary-color);
  padding: 20px 30px;
  right: 40px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.username{
  margin-bottom: 10px;
  font-size: 20px;

}
.logoutBtn{
  font-size: 20px;
  
}

@media (max-width:768px) {
  .nav-links{
    visibility: hidden;

  }
  #loginRegister{
    display: none;

  }
  .resContainer img{
    display: block;
  }
}
.phoneCss{
  display: flex;
  flex-direction: column;
  
}